@tailwind base;
@tailwind components;
@tailwind utilities;
.el-range-separator {
    width: 7% !important;
}
[x-cloak] {
     display: none !important; 
    }
.active {
    @apply py-3  rounded-md;
}
.custom-shadow-1 {
    box-shadow: 0px 2px 0px #A50C0C;
}
.custom-shadow-2 {
    box-shadow: 0px 2px 0px #C76033;
}
.custom-shadow-3 {
    box-shadow: 0px 2px 0px #30907D;
}
.custom-shadow-4 {
    box-shadow: 0px 2px 0px #1EC672;
}
.custom-shadow-5 {
    box-shadow: 0px 2px 0px #BB0909;
}
.custom-shadow-6 {
    box-shadow: 0px 2px 0px #42B6F6;
}
.custom-shadow-7 {
    box-shadow: 0px 2px 0px #E83330;
}
.custom-shadow-7 {
    box-shadow: 0px 2px 0px #E83330;
}
.custom-shadow-1s {
    box-shadow: 0px 2px 12px #ffb3b3;
}
.custom-shadow-2s {
    box-shadow: 0px 2px 12px #7dffbe;
}
.custom-shadow-table {
    box-shadow: -1px 2px 6px rgb(211, 211, 211);
}
.profile-active {
    color: #E83330;
}

#exchange:checked + .custom-checkbox {
    background-color: red;
  }







  .main {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.main input[type=checkbox] {
    visibility: hidden;
}

.checkbox-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: transparent;
    border-radius: 5px;
}


.main input:checked~.checkbox-container {
    background-color: #E83330;
}

.checkbox-container::after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.main input:checked~.checkbox-container::after {
    display: block;
}
.actionBtn{
    accent-color: #E84343;
}
.el-range-input {
    width: 90px;
}
@import url("https://unpkg.com/element-ui@2.15.14/lib/theme-chalk/index.css");